#! /usr/bin/make -f
# -*- make -*-
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

PYTHON:=/usr/bin/python
package:=userdir-ldap
pyversion:=`$(PYTHON) -c 'import sys; print sys.version[:3]'`
i:=./debian/tmp
pysite:=usr/lib/python$(pyversion)/site-packages

build:
	dh_testdir
	$(MAKE) -C web
	touch build

clean:
	dh_testdir
	-rm -f build
	-find . -name '*.py[co]' | xargs rm -f
	$(MAKE) -C web clean
	-rm -rf $(i) debian/files* core debian/substvars

instdirs = \
	usr/bin \
	usr/share/man/man1 \
	$(pysite)/userdir_ldap \
	var/www/userdir-ldap \
	var/cache/userdir-ldap/web-cookies \
	var/cache/userdir-ldap/hosts \
	usr/share/doc/$(package)/samples \
	etc/userdir-ldap/templates \
	etc/cron.d

binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs $(instdirs)

	echo "userdir_ldap" > $(i)/$(pysite)/userdir_ldap.pth
	echo "userdir_gpg" >> $(i)/$(pysite)/userdir_ldap.pth
	install -m 644 userdir_ldap.py userdir_gpg.py \
		$(i)/$(pysite)/userdir_ldap/
	install -m 755 {ud-forwardlist,ud-gpgimport,ud-info,ud-ldapshow,ud-userimport,ud-mailgate,ud-generate,ud-passchk,ud-useradd,ud-replicate,ud-xearth,ud-fingerserv,ud-echelon,ud-groupadd,ud-host,ud-zoneupdate} $(i)/usr/bin/
	install -m 755 sigcheck $(i)/usr/bin/
	install -m 644 debian/ud-replicate.cron.d $(i)/etc/cron.d/ud-replicate
	install -m 644 web/*.tab $(i)/var/www/userdir-ldap/
	install -m 644 web/*.html $(i)/var/www/userdir-ldap/
	install -m 644 web/*.cfg $(i)/var/www/userdir-ldap/
	chown www-data.www-data $(i)/var/cache/userdir-ldap/web-cookies/
	chmod u=rwx,g=,o= $(i)/var/cache/userdir-ldap/web-cookies/
	
	install -m 644 doc/{apache-config.txt,slapd-config.txt} $(i)/usr/share/doc/$(package)
	install -m 644 doc/samples/ud-* $(i)/usr/share/doc/$(package)/samples
	gzip -9 $(i)/usr/share/doc/$(package)/*.txt
	install -m 644 userdir-ldap.conf $(i)/etc/userdir-ldap/
	echo "# See /usr/share/doc/userdir-ldap" > $(i)/etc/userdir-ldap/generate.conf
	chmod 644 $(i)/etc/userdir-ldap/generate.conf
	install -m 644 templates/*-* $(i)/etc/userdir-ldap/templates/
	
	dh_installchangelogs
	dh_installmanpages
	dh_fixperms --exclude=web-cookies
	dh_compress
	dh_installdeb
	$(PYTHON) debian/python-dep >> debian/substvars
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

binary-arch: build
	dh_testdir
# There are no architecture-dependent files to be uploaded
# generated by this package.  If there were any they would be
# made here.


# Below here is fairly generic really

binary:	binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
