#! /usr/bin/make -f
# -*- make -*-
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=userdir-ldap
pyversion=1.5
i=./debian/tmp
pysite=usr/lib/python$(pyversion)/site-packages

build:
	dh_testdir
	touch build

clean:
	dh_testdir
	-rm -f build
	-find . -name '*.py[co]' | xargs rm -f
	-rm -rf $(i) debian/files* core debian/substvars

instdirs = \
	usr/bin \
	usr/man/man1 \
	$(pysite)/userdir_ldap \
	var/www/userdir-ldap \
	var/cache/userdir-ldap/web-cookies \
	var/cache/userdir-ldap/hosts \
	usr/doc/$(package)/samples \
	etc/userdir-ldap/templates

binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs $(instdirs)

	echo "userdir_ldap" > $(i)/$(pysite)/userdir_ldap.pth
	echo "userdir_gpg" >> $(i)/$(pysite)/userdir_ldap.pth
	install -m 644 userdir_ldap.py userdir_gpg.py \
		$(i)/$(pysite)/userdir_ldap/
	install -m 755 {ud-forwardlist,ud-gpgimport,ud-info,ud-ldapshow,ud-userimport,ud-mailgate,ud-generate,ud-passchk,ud-useradd,ud-replicate,ud-xearth} $(i)/usr/bin/
	install -m 755 web/*.* $(i)/var/www/userdir-ldap/
	chown www-data.www-data $(i)/var/cache/userdir-ldap/web-cookies/
	chmod u=rwx,g=,o= $(i)/var/cache/userdir-ldap/web-cookies/
	
	install -m 644 doc/{apache-config.txt,slapd-config.txt} $(i)/usr/doc/$(package)
	install -m 644 doc/samples/ud-* $(i)/usr/doc/$(package)/samples
	gzip -9 $(i)/usr/doc/$(package)/*.txt
	install -m 644 userdir-ldap.conf $(i)/etc/userdir-ldap/
	echo "# See /usr/doc/userdir-ldap" > $(i)/etc/userdir-ldap/generate.conf
	chmod 644 $(i)/etc/userdir-ldap/generate.conf
	install -m 644 templates/*-* $(i)/etc/userdir-ldap/templates/
	
	dh_installmanpages
	dh_fixperms --exclude=web-cookies
	dh_compress
	dh_installdeb
	dh_gencontrol
#	dh_makeshlibs
	dh_md5sums
	dh_builddeb

binary-arch: build
	dh_testdir
# There are no architecture-dependent files to be uploaded
# generated by this package.  If there were any they would be
# made here.


# Below here is fairly generic really

binary:	binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
